# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

.DS_Store

# Generated Static files
static/data/contentful.json
static/sitemap.xml

#storybook
.nuxt-storybook
storybook-static
docs