img.svg-appareil:hover, .btn.svg-appareil:hover, picture.svg-appareil:hover
  cursor: url(/images/svg/appareil.svg) 16 16, auto
.svg-url-appareil
  --svg-url: url(/images/svg/appareil.svg)
img.svg-avion:hover, .btn.svg-avion:hover, picture.svg-avion:hover
  cursor: url(/images/svg/avion.svg) 16 16, auto
.svg-url-avion
  --svg-url: url(/images/svg/avion.svg)
img.svg-avocat:hover, .btn.svg-avocat:hover, picture.svg-avocat:hover
  cursor: url(/images/svg/avocat.svg) 16 16, auto
.svg-url-avocat
  --svg-url: url(/images/svg/avocat.svg)
img.svg-bagues:hover, .btn.svg-bagues:hover, picture.svg-bagues:hover
  cursor: url(/images/svg/bagues.svg) 16 16, auto
.svg-url-bagues
  --svg-url: url(/images/svg/bagues.svg)
img.svg-balle:hover, .btn.svg-balle:hover, picture.svg-balle:hover
  cursor: url(/images/svg/balle.svg) 16 16, auto
.svg-url-balle
  --svg-url: url(/images/svg/balle.svg)
img.svg-ballon:hover, .btn.svg-ballon:hover, picture.svg-ballon:hover
  cursor: url(/images/svg/ballon.svg) 16 16, auto
.svg-url-ballon
  --svg-url: url(/images/svg/ballon.svg)
img.svg-ballon_1:hover, .btn.svg-ballon_1:hover, picture.svg-ballon_1:hover
  cursor: url(/images/svg/ballon_1.svg) 16 16, auto
.svg-url-ballon_1
  --svg-url: url(/images/svg/ballon_1.svg)
img.svg-berceau:hover, .btn.svg-berceau:hover, picture.svg-berceau:hover
  cursor: url(/images/svg/berceau.svg) 16 16, auto
.svg-url-berceau
  --svg-url: url(/images/svg/berceau.svg)
img.svg-biberon:hover, .btn.svg-biberon:hover, picture.svg-biberon:hover
  cursor: url(/images/svg/biberon.svg) 16 16, auto
.svg-url-biberon
  --svg-url: url(/images/svg/biberon.svg)
img.svg-bobine:hover, .btn.svg-bobine:hover, picture.svg-bobine:hover
  cursor: url(/images/svg/bobine.svg) 16 16, auto
.svg-url-bobine
  --svg-url: url(/images/svg/bobine.svg)
img.svg-boussole:hover, .btn.svg-boussole:hover, picture.svg-boussole:hover
  cursor: url(/images/svg/boussole.svg) 16 16, auto
.svg-url-boussole
  --svg-url: url(/images/svg/boussole.svg)
img.svg-bouton:hover, .btn.svg-bouton:hover, picture.svg-bouton:hover
  cursor: url(/images/svg/bouton.svg) 16 16, auto
.svg-url-bouton
  --svg-url: url(/images/svg/bouton.svg)
img.svg-branche:hover, .btn.svg-branche:hover, picture.svg-branche:hover
  cursor: url(/images/svg/branche.svg) 16 16, auto
.svg-url-branche
  --svg-url: url(/images/svg/branche.svg)
img.svg-bulles:hover, .btn.svg-bulles:hover, picture.svg-bulles:hover
  cursor: url(/images/svg/bulles.svg) 16 16, auto
.svg-url-bulles
  --svg-url: url(/images/svg/bulles.svg)
img.svg-cactus:hover, .btn.svg-cactus:hover, picture.svg-cactus:hover
  cursor: url(/images/svg/cactus.svg) 16 16, auto
.svg-url-cactus
  --svg-url: url(/images/svg/cactus.svg)
img.svg-camera:hover, .btn.svg-camera:hover, picture.svg-camera:hover
  cursor: url(/images/svg/camera.svg) 16 16, auto
.svg-url-camera
  --svg-url: url(/images/svg/camera.svg)
img.svg-chaussette:hover, .btn.svg-chaussette:hover, picture.svg-chaussette:hover
  cursor: url(/images/svg/chaussette.svg) 16 16, auto
.svg-url-chaussette
  --svg-url: url(/images/svg/chaussette.svg)
img.svg-chaussure:hover, .btn.svg-chaussure:hover, picture.svg-chaussure:hover
  cursor: url(/images/svg/chaussure.svg) 16 16, auto
.svg-url-chaussure
  --svg-url: url(/images/svg/chaussure.svg)
img.svg-coco:hover, .btn.svg-coco:hover, picture.svg-coco:hover
  cursor: url(/images/svg/coco.svg) 16 16, auto
.svg-url-coco
  --svg-url: url(/images/svg/coco.svg)
img.svg-coquillage:hover, .btn.svg-coquillage:hover, picture.svg-coquillage:hover
  cursor: url(/images/svg/coquillage.svg) 16 16, auto
.svg-url-coquillage
  --svg-url: url(/images/svg/coquillage.svg)
img.svg-croissant:hover, .btn.svg-croissant:hover, picture.svg-croissant:hover
  cursor: url(/images/svg/croissant.svg) 16 16, auto
.svg-url-croissant
  --svg-url: url(/images/svg/croissant.svg)
img.svg-diamant:hover, .btn.svg-diamant:hover, picture.svg-diamant:hover
  cursor: url(/images/svg/diamant.svg) 16 16, auto
.svg-url-diamant
  --svg-url: url(/images/svg/diamant.svg)
img.svg-dodo:hover, .btn.svg-dodo:hover, picture.svg-dodo:hover
  cursor: url(/images/svg/dodo.svg) 16 16, auto
.svg-url-dodo
  --svg-url: url(/images/svg/dodo.svg)
img.svg-donut:hover, .btn.svg-donut:hover, picture.svg-donut:hover
  cursor: url(/images/svg/donut.svg) 16 16, auto
.svg-url-donut
  --svg-url: url(/images/svg/donut.svg)
img.svg-drink:hover, .btn.svg-drink:hover, picture.svg-drink:hover
  cursor: url(/images/svg/drink.svg) 16 16, auto
.svg-url-drink
  --svg-url: url(/images/svg/drink.svg)
img.svg-epingle:hover, .btn.svg-epingle:hover, picture.svg-epingle:hover
  cursor: url(/images/svg/epingle.svg) 16 16, auto
.svg-url-epingle
  --svg-url: url(/images/svg/epingle.svg)
img.svg-etoiles:hover, .btn.svg-etoiles:hover, picture.svg-etoiles:hover
  cursor: url(/images/svg/etoiles.svg) 16 16, auto
.svg-url-etoiles
  --svg-url: url(/images/svg/etoiles.svg)
img.svg-feather:hover, .btn.svg-feather:hover, picture.svg-feather:hover
  cursor: url(/images/svg/feather.svg) 16 16, auto
.svg-url-feather
  --svg-url: url(/images/svg/feather.svg)
img.svg-gateau:hover, .btn.svg-gateau:hover, picture.svg-gateau:hover
  cursor: url(/images/svg/gateau.svg) 16 16, auto
.svg-url-gateau
  --svg-url: url(/images/svg/gateau.svg)
img.svg-gobelet:hover, .btn.svg-gobelet:hover, picture.svg-gobelet:hover
  cursor: url(/images/svg/gobelet.svg) 16 16, auto
.svg-url-gobelet
  --svg-url: url(/images/svg/gobelet.svg)
img.svg-guirelande:hover, .btn.svg-guirelande:hover, picture.svg-guirelande:hover
  cursor: url(/images/svg/guirelande.svg) 16 16, auto
.svg-url-guirelande
  --svg-url: url(/images/svg/guirelande.svg)
img.svg-hochet:hover, .btn.svg-hochet:hover, picture.svg-hochet:hover
  cursor: url(/images/svg/hochet.svg) 16 16, auto
.svg-url-hochet
  --svg-url: url(/images/svg/hochet.svg)
img.svg-levres:hover, .btn.svg-levres:hover, picture.svg-levres:hover
  cursor: url(/images/svg/levres.svg) 16 16, auto
.svg-url-levres
  --svg-url: url(/images/svg/levres.svg)
img.svg-lune:hover, .btn.svg-lune:hover, picture.svg-lune:hover
  cursor: url(/images/svg/lune.svg) 16 16, auto
.svg-url-lune
  --svg-url: url(/images/svg/lune.svg)
img.svg-lunettes:hover, .btn.svg-lunettes:hover, picture.svg-lunettes:hover
  cursor: url(/images/svg/lunettes.svg) 16 16, auto
.svg-url-lunettes
  --svg-url: url(/images/svg/lunettes.svg)
img.svg-main:hover, .btn.svg-main:hover, picture.svg-main:hover
  cursor: url(/images/svg/main.svg) 16 16, auto
.svg-url-main
  --svg-url: url(/images/svg/main.svg)
img.svg-mascara:hover, .btn.svg-mascara:hover, picture.svg-mascara:hover
  cursor: url(/images/svg/mascara.svg) 16 16, auto
.svg-url-mascara
  --svg-url: url(/images/svg/mascara.svg)
img.svg-menu:hover, .btn.svg-menu:hover, picture.svg-menu:hover
  cursor: url(/images/svg/menu.svg) 16 16, auto
.svg-url-menu
  --svg-url: url(/images/svg/menu.svg)
img.svg-miroir:hover, .btn.svg-miroir:hover, picture.svg-miroir:hover
  cursor: url(/images/svg/miroir.svg) 16 16, auto
.svg-url-miroir
  --svg-url: url(/images/svg/miroir.svg)
img.svg-movie:hover, .btn.svg-movie:hover, picture.svg-movie:hover
  cursor: url(/images/svg/movie.svg) 16 16, auto
.svg-url-movie
  --svg-url: url(/images/svg/movie.svg)
img.svg-nuage:hover, .btn.svg-nuage:hover, picture.svg-nuage:hover
  cursor: url(/images/svg/nuage.svg) 16 16, auto
.svg-url-nuage
  --svg-url: url(/images/svg/nuage.svg)
img.svg-oeil:hover, .btn.svg-oeil:hover, picture.svg-oeil:hover
  cursor: url(/images/svg/oeil.svg) 16 16, auto
.svg-url-oeil
  --svg-url: url(/images/svg/oeil.svg)
img.svg-ouverture:hover, .btn.svg-ouverture:hover, picture.svg-ouverture:hover
  cursor: url(/images/svg/ouverture.svg) 16 16, auto
.svg-url-ouverture
  --svg-url: url(/images/svg/ouverture.svg)
img.svg-parfum:hover, .btn.svg-parfum:hover, picture.svg-parfum:hover
  cursor: url(/images/svg/parfum.svg) 16 16, auto
.svg-url-parfum
  --svg-url: url(/images/svg/parfum.svg)
img.svg-pinceau:hover, .btn.svg-pinceau:hover, picture.svg-pinceau:hover
  cursor: url(/images/svg/pinceau.svg) 16 16, auto
.svg-url-pinceau
  --svg-url: url(/images/svg/pinceau.svg)
img.svg-poudre:hover, .btn.svg-poudre:hover, picture.svg-poudre:hover
  cursor: url(/images/svg/poudre.svg) 16 16, auto
.svg-url-poudre
  --svg-url: url(/images/svg/poudre.svg)
img.svg-rougealevre:hover, .btn.svg-rougealevre:hover, picture.svg-rougealevre:hover
  cursor: url(/images/svg/rougealevre.svg) 16 16, auto
.svg-url-rougealevre
  --svg-url: url(/images/svg/rougealevre.svg)
img.svg-sac:hover, .btn.svg-sac:hover, picture.svg-sac:hover
  cursor: url(/images/svg/sac.svg) 16 16, auto
.svg-url-sac
  --svg-url: url(/images/svg/sac.svg)
img.svg-scooter:hover, .btn.svg-scooter:hover, picture.svg-scooter:hover
  cursor: url(/images/svg/scooter.svg) 16 16, auto
.svg-url-scooter
  --svg-url: url(/images/svg/scooter.svg)
img.svg-slop:hover, .btn.svg-slop:hover, picture.svg-slop:hover
  cursor: url(/images/svg/slop.svg) 16 16, auto
.svg-url-slop
  --svg-url: url(/images/svg/slop.svg)
img.svg-telephone:hover, .btn.svg-telephone:hover, picture.svg-telephone:hover
  cursor: url(/images/svg/telephone.svg) 16 16, auto
.svg-url-telephone
  --svg-url: url(/images/svg/telephone.svg)
img.svg-tetine:hover, .btn.svg-tetine:hover, picture.svg-tetine:hover
  cursor: url(/images/svg/tetine.svg) 16 16, auto
.svg-url-tetine
  --svg-url: url(/images/svg/tetine.svg)
img.svg-top:hover, .btn.svg-top:hover, picture.svg-top:hover
  cursor: url(/images/svg/top.svg) 16 16, auto
.svg-url-top
  --svg-url: url(/images/svg/top.svg)
img.svg-tshirt:hover, .btn.svg-tshirt:hover, picture.svg-tshirt:hover
  cursor: url(/images/svg/tshirt.svg) 16 16, auto
.svg-url-tshirt
  --svg-url: url(/images/svg/tshirt.svg)
