/* latin-ext */
@font-face
  font-family: 'Roboto'
  font-style: italic
  font-weight: 100
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),url(https://fonts.gstatic.com/s/roboto/v18/dzxs_VxZUhdM2mEBkNa8sgsYbbCjybiHxArTLjt7FRU.woff2) format('woff2'),url(~/assets/font/dzxs_VxZUhdM2mEBkNa8sgsYbbCjybiHxArTLjt7FRU.woff2) format('woff2')
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
/* latin */
@font-face
  font-family: 'Roboto'
  font-style: italic
  font-weight: 100
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),url(https://fonts.gstatic.com/s/roboto/v18/12mE4jfMSBTmg-81EiS-YQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2'),url(~/assets/font/12mE4jfMSBTmg-81EiS-YQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215
/* latin-ext */
@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 300
  src: local('Roboto Light'), local('Roboto-Light'),url(https://fonts.gstatic.com/s/roboto/v18/Pru33qjShpZSmG3z6VYwnYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2'),url(~/assets/font/Pru33qjShpZSmG3z6VYwnYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2')
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
/* latin */
@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 300
  src: local('Roboto Light'), local('Roboto-Light'),url(https://fonts.gstatic.com/s/roboto/v18/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2'),url(~/assets/font/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215
/* latin-ext */
@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  src: local('Roboto'), local('Roboto-Regular'),url(https://fonts.gstatic.com/s/roboto/v18/Ks_cVxiCiwUWVsFWFA3Bjn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2'),url(~/assets/font/Ks_cVxiCiwUWVsFWFA3Bjn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2')
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
/* latin */
@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  src: local('Roboto'), local('Roboto-Regular'),url(https://fonts.gstatic.com/s/roboto/v18/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2'),url(~/assets/font/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215
/* latin-ext */
@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 700
  src: local('Roboto Bold'), local('Roboto-Bold'),url(https://fonts.gstatic.com/s/roboto/v18/97uahxiqZRoncBaCEI3aW4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2'),url(~/assets/font/97uahxiqZRoncBaCEI3aW4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2')
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
/* latin */
@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 700
  src: local('Roboto Bold'), local('Roboto-Bold'),url(https://fonts.gstatic.com/s/roboto/v18/d-6IYplOFocCacKzxwXSOJBw1xU1rKptJj_0jans920.woff2) format('woff2'),url(~/assets/font/d-6IYplOFocCacKzxwXSOJBw1xU1rKptJj_0jans920.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215
/* latin-ext */
@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 900
  src: local('Roboto Black'), local('Roboto-Black'),url(https://fonts.gstatic.com/s/roboto/v18/9_7S_tWeGDh5Pq3u05RVkoX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2'),url(~/assets/font/9_7S_tWeGDh5Pq3u05RVkoX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2')
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
/* latin */
@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 900
  src: local('Roboto Black'), local('Roboto-Black'),url(https://fonts.gstatic.com/s/roboto/v18/mnpfi9pxYH-Go5UiibESIpBw1xU1rKptJj_0jans920.woff2) format('woff2'),url(~/assets/font/mnpfi9pxYH-Go5UiibESIpBw1xU1rKptJj_0jans920.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215

h1, h2.h1, .about h2
  font-weight: 900
  font-size: 25px
  line-height: 2em
  letter-spacing: 0.3em
  text-transform: uppercase
  @media #{$xsmall-up}
    font-size: 35px
  @media #{$small-up}
    font-size: 63px

h2.h1, .about h2
  line-height: 1.4em

h2, .h2 
  font-weight: 600
  font-size: 30px
  line-height: 1.7em 
  letter-spacing: 0.3em
  text-transform: uppercase
  @media #{$small-up}
    font-size: 38px   

h3
  font-weight: 900
  font-size: 22px
  letter-spacing: 0.3em
  text-transform: uppercase
  @media #{$small-up}
    font-size: 30px

h4
  font-weight: 900
  font-size: 13px
  letter-spacing: 0.3em
  text-transform: uppercase
  text-decoration: underline
  @media #{$small-up}
    font-size: 15px

p
  font-weight: 300
  font-size: 13px
  line-height: 2rem
  margin: 1.5rem 0
  @media #{$small-up}
    font-size: 15px

em
  color: #898989
  font-weight: 100
  font-size: 12px
  @media #{$small-up}
    font-size: 13px

ul.navigation li
  cursor: pointer
  font-weight: 300
  font-size: 13px
  letter-spacing: 0.3em
  text-transform: uppercase
  position: relative
  span
    transition: opacity .6s ease
  &:hover, &.nuxt-link-active
    span
      opacity: 0
    &::after
      opacity: 1
  &::after
    transition: opacity .4s ease
    display: block
    position: absolute
    top: 0
    content: attr(title)
    font-weight: 700
    opacity: 0
    text-decoration: underline
  
ul.navigation.doted li::after
  left: 28px
